<!DOCTYPE html>
<html>
<head>
  <title>XmasWish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <%= link_to root_path do %>
      <div class="logo">
        
        LOGO
      </div>
      <% end %>
    </div>
    

    
  </header>

<%= yield %>

</body>
</html>
